html, body, #root {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#root {
    margin: 0 auto;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}