.hero-banner {
    background-color: #f7f6f7;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e4e4e4' fill-opacity='0.48' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: auto;
    padding: 80px 0;
}


.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px; /* rounds the corners */
    opacity: 0.95; /* slight transparency */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* soft shadow */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hero-image:hover {
    transform: scale(1.02); /* gentle zoom on hover */
    opacity: 1; /* full opacity on hover */
}